
@{
    ViewData["Title"] = "AjaxPost";
}

<h1>AjaxPost</h1>
<form>
    <div class="form-group">
        <label for="txtName">姓名</label>
        <input type="text" class="form-control" id="txtName" name="name">
    </div>
    <div class="form-group">
        <label for="txtAge">年紀</label>
        <input type="number" class="form-control" id="txtAge" name="age" >
    </div>
    <div class="form-group">
        <label for="txtEmail">電子郵件</label>
        <input type="text" class="form-control" id="txtEmail" name="email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="alert alert-info" id="div1"></div>

@section Scripts{
<script>
    const btnSubmit = document.querySelector(".btn");
    const name = document.querySelector("#txtName");
    const age = document.querySelector("#txtAge");
    const email = document.querySelector("#txtEmail");
    const divInfo= document.querySelector("#div1");

    btnSubmit.addEventListener("click", (evt) => {
        evt.preventDefault();   //停止submit的預設行為

        var xhr = new XMLHttpRequest();

        xhr.addEventListener("load", () => {
            console.log("load");
            const data = xhr.responseText;
            divInfo.innerHTML = `<h3>${data}</h3>`;
        })

        const params = `name=${name.value}&age=${age.value}&email=${email.value}`;
        xhr.open("POST", `@Url.Content("~/Api/Index")`);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded"); //設定HTML Header中的資料
        xhr.send(params);
    })
   
</script>    
 }
