@{
    ViewData["Title"] = "Home Page";
}
@section Styles{ 
    <style>
    h1{
        background-color:lightgray
    }      
    </style>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="button" id="btnClick" value="OK" />
    <br />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{ 
<script>
    console.log("Hello");
    $('.display-4').text("Welcome MVC!");

    /*$('btnClick').click(function () { $('.display-4').css("background-color", "lightblue") });*/

    var emp = {
        "employees": [
            { "name": "Tom", "workYears": 3, "salary": 35000 },
            { "name": "Jack", "workYears": 5, "salary": 40000 },
            { "name": "Mary", "workYears": 7, "salary": 45000 }
        ]
    };
   
    //ES6
    $('#btnClick').click(() => {        
        emp.employees.forEach(employee => {
            const { name, workYears, salary } = employee //解構賦值
            console.log(name)
            console.log(workYears)
            console.log(salary)
        })
    });   
</script>
}
